<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="/admin/danhsachdoanhnghiep">Danh Sách Doanh Nghiệp</a></li>
        </ol>
    </div>
</div>



<div class="col">

    <form action="/admin/searchbusiness" method="post" class="input-group mb-3">
        <input name="searchinput" type="text" class="form-control" placeholder="Tên Doanh Nghiệp">
        <div class="input-group-append">
            <button class="btn btn-outline-dark" type="submit">Search</button>
        </div>
    </form>


    <div class="card">
        <a id="addbtn" href="/admin/themdoanhnghiep"><i class="fa-solid fa-plus"> Add</i></a>
        <div class="card-body">
            <h4 class="card-title">Danh Sách Doanh Nghiệp</h4>
            <div class="table-responsive">
                <table class="table header-border">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tên Doanh Nghiệp</th>
                            <th scope="col">Email</th>
                            <th scope="col">Loại Hình Kinh Doanh</th>
                            <th scope="col">Địa Chỉ</th>
                            <th scope="col">Số Điện Thoại</th>
                            <th style="text-align:center ;" scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        {{!-- {{#each data}}
                            <tr>
                                <th>{{this.index}}</th>
                                <td><a href="/admin/doanhnghiep/{{this._id}}">{{this.UserName}}</a></td>
                                <td>{{this.Email}}</td>
                                <td>{{this.LoaiHinhKinhDoanh}}</td>
                                <td>{{this.Address}}</td>
                                <td>{{this.PhoneNumber}}</td>
                                <td style="text-align: center;"><span><a href="/admin/doanhnghiep/{{this._id}}" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a><a onclick="return confirm('Are you sure?')" href="/admin/deletebusiness?ID={{this._id}}" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-close color-danger"></i></a></span>
                                </td>
                            </tr>
                        {{/each}} --}}
                        

                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    .cart{
        position: relative;
    }
    #addbtn{
        position: absolute;
        top: 12px;
        right: 18px;
        font-size: 10px;
        background-color: #7571f9;
        padding: 10px 14px;
        color: #fff !important;
        border-radius: 4px;
        text-align: center;
    }
     #addbtn:hover{
        opacity: 0.8;
     }
</style>